.self-intro-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 30px;
  }
}

.avatar {
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  margin: -16% 41% 15px;
}

.username,
.age {
  display: inline;
}
