@import "variables";
@import "mixins";
@import "reboot";
@import "header";
@import "article";

body {
  height: 100vh;
}

.introduce-self-article {
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 8%;
}

.dividing-line {
  width: 96%;
  height: 5px;
  border-width: 0px;
  background-color: $body-bg;
}
